# MkDocs core
mkdocs==1.5.3
mkdocs-material==9.5.3

# MkDocs plugins
mkdocs-material[social]
mkdocs-open-in-new-tab>=1.0.0

# Dependencies for material theme extensions
pymdown-extensions==10.5
pygments>=2.16
