# MkDocs core
mkdocs==1.5.3
mkdocs-material==9.5.3

# MkDocs plugins
mkdocs-minify-plugin==0.7.2
mkdocs-git-revision-date-localized-plugin==1.2.2
mkdocstrings[python]>=0.24.0
mkdocs-jupyter==0.24.6 
mkdocs-material[social]
mkdocs-open-in-new-tab

# Dependencies for material theme extensions
pymdown-extensions==10.5
pygments>=2.16
pillow>=10.1
cairosvg>=2.7

# For social cards generation
pillow>=10.1
cairosvg>=2.7
